:root {
  --image-size: 300px;
  --footer-height: 100px;
}

div.body {
  margin-bottom: var(--footer-height);
  background-color: lightgray;
}

.About {
  display: flex;
}


.left {
  padding: 10px 30px;
  background-color: red;
}

.wrap {
  width: var(--image-size);
  height: var(--image-size);
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column: 1;
}

#photo {
  width: var(--image-size);
  height: auto;
  margin-top: calc(var(--image-size) * -0.5);
  margin-left: calc(var(--image-size) * -0.05);
  scale: 2;
}

.right {
  padding: 10px 10px;
  background-color: pink;
}

.right .top {
  background-color: lightgray;
}

.right .bottom {
  display: inline-block;
  white-space: nowrap;
  height: 100px;
  background-color: gray;
}

.right span {
  position: relative;
  top: 13px;
  /*vertical-align: middle;*/
  background-color: cyan;
  font-size: 50px;
}

#arch {
  vertical-align: middle;
  /*width: var(--image-size);*/
  /*height: calc(var(--image-size) * 0.3);*/
  object-fit: cover;
  background-color: lime;
}

footer {
  position: fixed;
  width: calc(100% - 20px);
  height: var(--footer-height);
  text-align: center;
  left: 0px;
  bottom: 0px;
  padding: 10px;
  background-color: cyan;
}

footer>.icons {
  display: flex;
  justify-content: center;
  background-color: red;
}

footer>.icons>a {
  margin: 0px 5px;
}
