:root {
  --image-size: 300px;
  --footer-height: 150px;
}

div.body {
  margin-bottom: var(--footer-height);
  background-color: lightgray;
}

.About {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.left {
  padding: 10px 30px;
  background-color: red;
}

.wrap {
  width: var(--image-size);
  height: var(--image-size);
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column: 1;
}

#photo {
  width: var(--image-size);
  height: auto;
  margin-top: calc(var(--image-size) * -0.5);
  margin-left: calc(var(--image-size) * -0.05);
  scale: 2;
}

.right {
  padding: 10px 10px;
  background-color: pink;
  flex-shrink: 4;
}

.right .top {
  width: 500px;
  background-color: lightgray;
}

.right .bottom {
  display: inline-block;
  white-space: nowrap;
  height: 100px;
  background-color: gray;
}

.right span {
  position: relative;
  top: 13px;
  background-color: cyan;
  font-size: 50px;
}

#arch {
  vertical-align: middle;
  object-fit: cover;
  background-color: lime;
}

.Skills {
  background-color: magenta;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px;
}

.Skills>.Box {
  width: 300px;
  padding: 16px;
}

.Box {
  flex-grow: 1;
  background-color: tomato;
}

.Box>p {
  margin: 5px;
}

h2 {
  text-align: center;
}

.Box>h3 {
  margin: 0px;
  padding: 10px;
}

.Projects {
  display: grid;
  grid-template-columns: repeat(3, 100%);
  background-color: magenta;
  gap: 30px;
  margin: 10px;
  overflow: scroll;
}

.Projects>.Box {
  grid-column: span 1;
  padding: 10px;
}

.Projects img {
  width: 400px;
  height: auto;
  float: left;
}

footer {
  position: fixed;
  width: calc(100% - 20px);
  height: calc(var(--footer-height) - 20px - 8px);
  text-align: center;
  left: 0px;
  bottom: 0px;
  padding: 10px;
  background-color: cyan;
}

footer>.icons {
  display: flex;
  justify-content: center;
  background-color: red;
}

footer>.icons>a {
  margin: 0px 5px;
}
